################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Cshop-edstd/bitoperation/.vs/bitoperation/FileContentIndex/4fc475cb-7e94-47d8-9da4-7c5a42ba1a40.vsidx
